.mydiv{
    background-color:black;
    direction: ltr;
    margin-top: 10px;
    height: 400px;
    padding-left: 50px;
    cursor: pointer;
    animation: mymove 4s infinite;
}

@keyframes mymove {
    from {background-color:black;}
    to {background-color:gray;}
  }

  .mydiv:hover + #hide {
    display: block!important;
    color: red;
    background-color: black;
  }
h1{
    color: white!important;
    padding-top: 50px!important;
}

p{
    color: white;
    font-size: large;
}

#hide{
    margin-top: 20px!important;
    color: white;
    /* display: none; */
}